Pandas is a powerful data manipulation library in python widely used for data analyssi and data cleaning. It proivdes two primary dta structures: Series and Dataframe. A series is a 1D array like object, while dataframe is a 2d, size-mutable and potentially heterogenous tabluar data structure with labeled axes (rows and columns)

In [2]:
import numpy as np
import pandas as pd

In [3]:
#Series: A pandas Series is a one-dimensional array-like object that can hold any data type. It is similar to a list or an array, but it has additional features such as labels (index) for each element.
data = np.array([1,2,3,4,5])

series = pd.Series(data) # Creating a Series from a NumPy array
print(series)

dict_data = {'a': 1, 'b': 2, 'c': 3}
series = pd.Series(dict_data)  # Creating a Series from a dictionary
print(series)

0    1
1    2
2    3
3    4
4    5
dtype: int64
a    1
b    2
c    3
dtype: int64

In [4]:
data = [1,1,1,1,1,1,1]
index = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

series = pd.Series(data, index = index)  # Creating a Series with a custom index
print(series)

a    1
b    1
c    1
d    1
e    1
f    1
g    1
dtype: int64

Dataframes

In [7]:
#dataframes: A pandas DataFrame is a two-dimensional, size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). It is similar to a spreadsheet or SQL table.
data = {
    'A': [1, 2, 3],
    'B': [4, 5, 6],
    'C': [7, 8, 9]
}

df = pd.DataFrame(data)
print(df)

print(np.array(df))

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9
[[1 4 7]
 [2 5 8]
 [3 6 9]]

In [13]:
df = pd.read_csv('data.csv')

print(df.head())
print("\nprint last 5 rows\n")
print(df.tail())

   Transaction ID        Date Product Category             Product Name  \
0           10001  2024-01-01      Electronics            iPhone 14 Pro
1           10002  2024-01-02  Home Appliances         Dyson V11 Vacuum
2           10003  2024-01-03         Clothing         Levi's 501 Jeans
3           10004  2024-01-04            Books        The Da Vinci Code
4           10005  2024-01-05  Beauty Products  Neutrogena Skincare Set

   Units Sold  Unit Price  Total Revenue         Region Payment Method
0           2      999.99        1999.98  North America    Credit Card
1           1      499.99         499.99         Europe         PayPal
2           3       69.99         209.97           Asia     Debit Card
3           4       15.99          63.96  North America    Credit Card
4           1       89.99          89.99         Europe         PayPal

print last 5 rows

     Transaction ID        Date Product Category  \
235           10236  2024-08-23  Home Appliances
236           10237  2024-08-24         Clothing
237           10238  2024-08-25            Books
238           10239  2024-08-26  Beauty Products
239           10240  2024-08-27           Sports

                                        Product Name  Units Sold  Unit Price  \
235  Nespresso Vertuo Next Coffee and Espresso Maker           1      159.99
236                        Nike Air Force 1 Sneakers           3       90.00
237           The Handmaid's Tale by Margaret Atwood           3       10.99
238             Sunday Riley Luna Sleeping Night Oil           1       55.00
239                       Yeti Rambler 20 oz Tumbler           2       29.99

     Total Revenue         Region Payment Method
235         159.99         Europe         PayPal
236         270.00           Asia     Debit Card
237          32.97  North America    Credit Card
238          55.00         Europe         PayPal
239          59.98           Asia    Credit Card

In [17]:
df['Date']

0      2024-01-01
1      2024-01-02
2      2024-01-03
3      2024-01-04
4      2024-01-05
          ...
235    2024-08-23
236    2024-08-24
237    2024-08-25
238    2024-08-26
239    2024-08-27
Name: Date, Length: 240, dtype: object

In [ ]:
df.loc[0]  # Accessing the first row of the DataFrame
# df.iloc[0]  # Accessing the first row using integer location

/tmp/ipykernel_15801/507415554.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df.loc[0][2]  # Accessing the first row of the DataFrame

'Electronics'

In [31]:
df.head()

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal

In [98]:
#accessing a specified element
#df.at[row_index, column_name]
print(df.at[0, 'Date'])  # Accessing the 'Date' column of the first row
#df.iat[row_index, column_index]
print(df.iat[0, 1])  # Accessing the 'Date' column of the second row

KeyError: (0, 'Date')

In [99]:
print(df['Date'].count())

KeyError: 'Date'

In [34]:
#adding a new column
df['salary'] = [1000, 2000, 3000, 4000, 5000]  # Adding a new column to the DataFrame
print(df)

ValueError: Length of values (5) does not match length of index (240)

In [ ]:
#removing a coloumn from the data frame

print(df.columns)
df.drop('Date', axis=1, inplace=True) # in order to make the change permanent, we use inplace=True
print(df.columns)

Index(['Transaction ID', 'Product Category', 'Product Name', 'Units Sold',
       'Unit Price', 'Total Revenue', 'Region', 'Payment Method'],
      dtype='object')

KeyError: "['Date'] not found in axis"

In [40]:
#To display the statistical summary of the dataframe
print(df.describe())

       Transaction ID  Units Sold   Unit Price  Total Revenue
count       240.00000  240.000000   240.000000     240.000000
mean      10120.50000    2.158333   236.395583     335.699375
std          69.42622    1.322454   429.446695     485.804469
min       10001.00000    1.000000     6.500000       6.500000
25%       10060.75000    1.000000    29.500000      62.965000
50%       10120.50000    2.000000    89.990000     179.970000
75%       10180.25000    3.000000   249.990000     399.225000
max       10240.00000   10.000000  3899.990000    3899.990000

More data manipulation using pandas

In [9]:
import pandas as pd
import numpy as np

In [10]:
df = pd.read_csv('data.csv')
df.head()

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal

In [11]:
df.describe()

       Transaction ID  Units Sold   Unit Price  Total Revenue
count       240.00000  240.000000   240.000000     240.000000
mean      10120.50000    2.158333   236.395583     335.699375
std          69.42622    1.322454   429.446695     485.804469
min       10001.00000    1.000000     6.500000       6.500000
25%       10060.75000    1.000000    29.500000      62.965000
50%       10120.50000    2.000000    89.990000     179.970000
75%       10180.25000    3.000000   249.990000     399.225000
max       10240.00000   10.000000  3899.990000    3899.990000

In [12]:
df.dtypes

Transaction ID        int64
Date                 object
Product Category     object
Product Name         object
Units Sold            int64
Unit Price          float64
Total Revenue       float64
Region               object
Payment Method       object
dtype: object

In [13]:
#handling missing values
df.isnull().any(axis=1) # Check if any row has missing values
df.isnull().any(axis=0)  # Check if any column has missing values
# df.isnull().sum()  # Count of missing values in each column

Transaction ID      False
Date                False
Product Category    False
Product Name        False
Units Sold          False
Unit Price          False
Total Revenue       False
Region              False
Payment Method      False
dtype: bool

In [14]:
df.fillna(0, inplace=True)  # Fill missing values with 0
# df.dropna(inplace=True)  # Drop rows with any missing values

In [15]:
#Replacing the missing values with the mean of the column
df['transacitonsid_fillna_mean'] = df['Transaction ID'].fillna(df['Transaction ID'].mean())
df

,Transaction ID,Date,Product Category,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method,transacitonsid_fillna_mean
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card,10001
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal,10002
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card,10003
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card,10004
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal,10005
...,...,...,...,...,...,...,...,...,...,...
235,10236,2024-08-23,Home Appliances,Nespresso Vertuo Next Coffee and Espresso Maker,1,159.99,159.99,Europe,PayPal,10236
236,10237,2024-08-24,Clothing,Nike Air Force 1 Sneakers,3,90.00,270.00,Asia,Debit Card,10237
237,10238,2024-08-25,Books,The Handmaid's Tale by Margaret Atwood,3,10.99,32.97,North America,Credit Card,10238
238,10239,2024-08-26,Beauty Products,Sunday Riley Luna Sleeping Night Oil,1,55.00,55.00,Europe,PayPal,10239
239,10240,2024-08-27,Sports,Yeti Rambler 20 oz Tumbler,2,29.99,59.98,Asia,Credit Card,10240

In [16]:
#renaming a column
df = df.rename(columns={'Product Category': 'Categories'})
df

,Transaction ID,Date,Categories,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method,transacitonsid_fillna_mean
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card,10001
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal,10002
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card,10003
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card,10004
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal,10005
...,...,...,...,...,...,...,...,...,...,...
235,10236,2024-08-23,Home Appliances,Nespresso Vertuo Next Coffee and Espresso Maker,1,159.99,159.99,Europe,PayPal,10236
236,10237,2024-08-24,Clothing,Nike Air Force 1 Sneakers,3,90.00,270.00,Asia,Debit Card,10237
237,10238,2024-08-25,Books,The Handmaid's Tale by Margaret Atwood,3,10.99,32.97,North America,Credit Card,10238
238,10239,2024-08-26,Beauty Products,Sunday Riley Luna Sleeping Night Oil,1,55.00,55.00,Europe,PayPal,10239
239,10240,2024-08-27,Sports,Yeti Rambler 20 oz Tumbler,2,29.99,59.98,Asia,Credit Card,10240

In [17]:
df

,Transaction ID,Date,Categories,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method,transacitonsid_fillna_mean
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card,10001
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal,10002
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card,10003
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card,10004
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal,10005
...,...,...,...,...,...,...,...,...,...,...
235,10236,2024-08-23,Home Appliances,Nespresso Vertuo Next Coffee and Espresso Maker,1,159.99,159.99,Europe,PayPal,10236
236,10237,2024-08-24,Clothing,Nike Air Force 1 Sneakers,3,90.00,270.00,Asia,Debit Card,10237
237,10238,2024-08-25,Books,The Handmaid's Tale by Margaret Atwood,3,10.99,32.97,North America,Credit Card,10238
238,10239,2024-08-26,Beauty Products,Sunday Riley Luna Sleeping Night Oil,1,55.00,55.00,Europe,PayPal,10239
239,10240,2024-08-27,Sports,Yeti Rambler 20 oz Tumbler,2,29.99,59.98,Asia,Credit Card,10240

In [18]:
# Changing the data type of a column
df['Date'].astype('datetime64[ns]')
df['Units Sold'].astype('float64')
df['Unit Price'].astype('int64')
df['Squared Unit prince'] = df['Unit Price'].apply(lambda x: x**2)
df

,Transaction ID,Date,Categories,Product Name,Units Sold,Unit Price,Total Revenue,Region,Payment Method,transacitonsid_fillna_mean,Squared Unit prince
0,10001,2024-01-01,Electronics,iPhone 14 Pro,2,999.99,1999.98,North America,Credit Card,10001,999980.0001
1,10002,2024-01-02,Home Appliances,Dyson V11 Vacuum,1,499.99,499.99,Europe,PayPal,10002,249990.0001
2,10003,2024-01-03,Clothing,Levi's 501 Jeans,3,69.99,209.97,Asia,Debit Card,10003,4898.6001
3,10004,2024-01-04,Books,The Da Vinci Code,4,15.99,63.96,North America,Credit Card,10004,255.6801
4,10005,2024-01-05,Beauty Products,Neutrogena Skincare Set,1,89.99,89.99,Europe,PayPal,10005,8098.2001
...,...,...,...,...,...,...,...,...,...,...,...
235,10236,2024-08-23,Home Appliances,Nespresso Vertuo Next Coffee and Espresso Maker,1,159.99,159.99,Europe,PayPal,10236,25596.8001
236,10237,2024-08-24,Clothing,Nike Air Force 1 Sneakers,3,90.00,270.00,Asia,Debit Card,10237,8100.0000
237,10238,2024-08-25,Books,The Handmaid's Tale by Margaret Atwood,3,10.99,32.97,North America,Credit Card,10238,120.7801
238,10239,2024-08-26,Beauty Products,Sunday Riley Luna Sleeping Night Oil,1,55.00,55.00,Europe,PayPal,10239,3025.0000
239,10240,2024-08-27,Sports,Yeti Rambler 20 oz Tumbler,2,29.99,59.98,Asia,Credit Card,10240,899.4001

In [22]:
# region wise revenue mean

categories_mean = df.groupby('Region')['Total Revenue'].mean()
print(categories_mean)

Region
Asia             280.693125
Europe           265.850750
North America    460.554250
Name: Total Revenue, dtype: float64

In [ ]:
# region and categories wise revenue mean
region_categories_mean = df.groupby(['Region', 'Categories'])['Total Revenue'].mean()
print(region_categories_mean)

AttributeError: 'list' object has no attribute 'mean'

In [30]:
#grouped aggreated function
grouped_aggrated = df.groupby(['Region'])['Total Revenue'].agg(['mean', 'sum', 'count'])
print(grouped_aggrated.mean())

mean       335.699375
sum      26855.950000
count       80.000000
dtype: float64

In [ ]:
# Merging and joining Dataframes

df1 = pd.DataFrame({
    'Region': ['North', 'South', 'East'],
    'Total Revenue': [1000, 2000, 1500]
})  
df2 = pd.DataFrame({
    'Region': ['North', 'South', 'West'],
    'Total Revenue': [1200, 1800, 1600]
})

In [33]:
pd.merge(df1, df2, on='Region', how='inner') # this will merge the two DataFrames on the 'Region' column using an inner join, which means only the rows with matching 'Region' values in both DataFrames will be included in the result.

  Region  Total Revenue_x  Total Revenue_y
0  North             1000             1200
1  South             2000             1800

In [34]:
pd.merge(df1, df2, on='Region', how='outer')  # Merging DataFrames on 'Region' column

  Region  Total Revenue_x  Total Revenue_y
0   East           1500.0              NaN
1  North           1000.0           1200.0
2  South           2000.0           1800.0
3   West              NaN           1600.0

In [35]:
pd.merge(df1, df2, on='Region', how='left')  # this will merge the two DataFrames on the 'Region' column using a left join, which means all rows from df1 will be included, and matching rows from df2 will be added where available. If there is no match, NaN values will be filled in for the columns from df2.

  Region  Total Revenue_x  Total Revenue_y
0  North             1000           1200.0
1  South             2000           1800.0
2   East             1500              NaN

In [36]:
pd.merge(df1, df2, on='Region', how='right')  # this will merge the two DataFrames on the 'Region' column using a right join, which means all rows from df2 will be included, and matching rows from df1 will be added where available. If there is no match, NaN values will be filled in for the columns from df1.

  Region  Total Revenue_x  Total Revenue_y
0  North           1000.0             1200
1  South           2000.0             1800
2   West              NaN             1600

In [39]:
# Reading json data

from io import StringIO

data = '{"name": "John", "age": 30, "city": "New York"}\n{"name": "Anna", "age": 25, "city": "London"}\n{"name": "Mike", "age": 35, "city": "Chicago"}'
pd.read_json(StringIO(data))

ValueError: Trailing data

In [42]:
# convert back to json  
data.to_json('data.json', orient='records')

AttributeError: 'str' object has no attribute 'to_json'

In [ ]:
# reading json data from url

df = pd.read_csv('https://api.example.com/data.json')  # Example URL, replace with actual JSON data URL
df.to_csv('data.csv', index=False)  # Save the DataFrame to a CSV file

In [ ]:
# readiing the tables data from the html page
# !pip install lxml
url = "https://en.wikipedia.org/wiki/List_of_ISO_3166_country_codes"
pd.read_html(url, match='Sovereignty', header=0)

[     ISO 3166[1] name[5]                       Official state name[6][a]  \
 0    ISO 3166[1] name[5]                       Official state name[6][a]
 1            Afghanistan          the Islamic Republic of Afghanistan[b]
 2          land Islands                                     land[c][d]
 3                Albania                         the Republic of Albania
 4                Algeria     the People's Democratic Republic of Algeria
 ..                   ...                                             ...
 267    Wallis and Futuna  the Territory of the Wallis and Futuna Islands
 268   Western Sahara[an]      the Sahrawi Arab Democratic Republic[c][d]
 269                Yemen                           the Republic of Yemen
 270               Zambia                          the Republic of Zambia
 271             Zimbabwe                        the Republic of Zimbabwe

      Sovereignty [6][7][8] ISO 3166-1[2] ISO 3166-1[2].1 ISO 3166-1[2].2  \
 0    Sovereignty [6][7][8]       A-2 [5]         A-3 [5]        Num. [5]
 1                UN member            AF             AFG             004
 2                  Finland            AX             ALA             248
 3                UN member            AL             ALB             008
 4                UN member            DZ             DZA             012
 ..                     ...           ...             ...             ...
 267                 France            WF             WLF             876
 268           Disputed[ao]            EH             ESH             732
 269              UN member            YE             YEM             887
 270              UN member            ZM             ZMB             894
 271              UN member            ZW             ZWE             716

      ISO 3166-2[3] subdivision codes link  TLD [9]
 0    ISO 3166-2[3] subdivision codes link  TLD [9]
 1                           ISO 3166-2:AF      .af
 2                           ISO 3166-2:AX      .ax
 3                           ISO 3166-2:AL      .al
 4                           ISO 3166-2:DZ      .dz
 ..                                    ...      ...
 267                         ISO 3166-2:WF      .wf
 268                         ISO 3166-2:EH     [ap]
 269                         ISO 3166-2:YE      .ye
 270                         ISO 3166-2:ZM      .zm
 271                         ISO 3166-2:ZW      .zw

 [272 rows x 8 columns]]

In [46]:
# Reading data from excel files
# !pip install openpyxl  # Ensure you have the openpyxl library installed for reading Excel files
pd.read_excel('data.xlsx', sheet_name='Sheet1')  # Reading an Excel file

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-2.0.0-py3-none-any.whl.metadata (2.7 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
Downloading et_xmlfile-2.0.0-py3-none-any.whl (18 kB)
Installing collected packages: et-xmlfile, openpyxl
    2/2 [openpyxl]1/2 [openpyxl]
Successfully installed et-xmlfile-2.0.0 openpyxl-3.1.5

FileNotFoundError: [Errno 2] No such file or directory: 'data.xlsx'